side-drawer *:focus {
    outline: none;
}

#openDrawer{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    background-color: #82bc00;
    padding: 10px 14px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#app-drawer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}
.drawer {
    position: fixed;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1001;
    outline: none;
    display: flex;
    flex-direction: column;
    overflow: auto; 
  }
.drawer.left{
  top: 0;
  left: -500px;
  height: 100%;
  width: 500px;
  transform: translateX(0);
  border-radius: 0 16px 16px 0;
}
.drawer.left.open{
    transform: translateX(500px);
}
.drawer.bottom{
    bottom: -500px;
    height: 500px;
    width: 100%;
    left: 0;
    transform: translateY(0);
    border-radius: 16px 16px 0 0;
}
.drawer.bottom.open{
    transform: translateY(-500px);
}
#closeDrawer{
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

::slotted(#closeDrawer) {
    background: none;
    border: none;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.drawer-js-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}
.drawer-js-overlay.visible{
    opacity: 1;
    pointer-events: all;
}

.drawer__header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 2.4rem 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    z-index: 4;
    background: white;
}

.drawer__title{
    font-size: 1.3em;
    font-weight: 900;
    margin: 0;
}

.drawer__content{
    padding: 2.4rem 3.2rem;
}

.drawer__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.drawer__form input, .drawer__form textarea{
    padding: 1rem;
    background-color: white;
    box-shadow: none;
    border: 1px solid #000;
}
.drawer__form textarea{
    height: 10rem;
}
.drawer__form:focus{
    outline: none;
}

.drawer__content #responseMessage{
    color: #046a38;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f4f4f4;
    font-weight: bold;
}

.drawer__content .submit-btn{
    padding: 1rem;
    background-color: #82bc00;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .drawer.left {
        left: 0;
        bottom: -500px;
        transform: translateY(0);
      }
    
      .drawer.left.open {
        transform: translateY(-500px);
      }
}
