<side-drawer id="app-drawer">
   <div slot="content">
      <header class="drawer__header">
         <h2 class="drawer__title">Request a Quote</h2>
         <button id="closeDrawer" aria-label="Close Drawer">&times;</button>
      </header>
    
      <div class="drawer__content">
         <form class="drawer__form" id="drawerForm" method="post">
            <p>
               Please fill out the form below if you have any questions for one of the products we have listed on our website and would like to get a quote about it.
            </p>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Name" required>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Message"></textarea>
            <button type="submit" class="submit-btn">Submit</button>
         </form>
         <div id="responseMessage"></div>
      </div>
   
     
   </div>     
</side-drawer>