<side-drawer id="app-drawer">
   <div slot="content">
      <button id="closeDrawer" aria-label="Close Drawer">&times;</button>
      <h2>Drawer Title</h2>
      <p>
         This is my app drawer and it triggers whenever someone clicks on the where is my order button.
      </p>
      <p>
         What is does is, it will look if customer is logged in, if yes, it will show them there number of orders and 
         customer can click to see the status of any of their open orders.
 
         Basically idea is to fetch this information, from the purolator tracking site and display it which reduces the calls to customer service.
      </p>
   </div>     
</side-drawer>