<link rel="stylesheet" href="{{ 'drawer.css' |  asset_url }}" media="print" onload="this.media='all'"></link>

<script src="{{ 'drawer.js' | asset_url }}" defer="defer' }}"></script>

<div style="position: fixed; bottom: 10px; right: 10px; z-index: 100; background-color: #82bc00; padding: 10px;">
  Where is my order !
</div>

{% schema %}
{
  "name": "Order Finder",
  "target": "body",
  "settings": [
    { "type": "header", "info": "Order Finder", "content": "Order Finder theme app extension from Red Ruby app" }
  ]
}
{% endschema %}
