<link rel="stylesheet" href="{{ 'drawer.css' |  asset_url }}" media="print" onload="this.media='all'"></link>

<script src="{{ 'drawer.js' | asset_url }}" defer="defer' }}"></script>

<div id="drawer-button">
  <button id="openDrawer">Start the Party 🎉</button>
</div>

{% render 'drawer' %}

{% schema %}
{
  "name": "Order Finder",
  "target": "body",
  "settings": [
    { "type": "header", "info": "Order Finder", "content": "Order Finder theme app extension from Red Ruby app" }
  ]
}
{% endschema %}
